{# 
 # Copyright 2020 Pixelcat Productions <support@pixelcatproductions.net>
 # @author 2020 Justin René Back <jback@pixelcatproductions.net>
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #      http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
#}


{#
Die Variablen unten sind sehr wichtig bitte bei jeder Datei setzen!
    - JB
#}
{% set currentPage = 'login' %}
{% set pageTitle = plugin.getTranslation('login') %}
{% set error = false %}

{% extends plugin.PluginName ~  "/templates/base.twig" %}

{% block content %}
    {% include plugin.PluginName ~  "/templates/components/navbar.twig" %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4">{{ plugin.getTranslation('change_password') }}</h1>
        </div>
    </div>
    <div class="container mb-5">
        <div class="card">
            <div class="card-body">
                <form id="login">
                    <div class="form-group">
                        <label for="old_password">{{ plugin.getTranslation('old_password') }}</label>
                        <input type="password" class="form-control" placeholder="{{ plugin.getTranslation('enter_old_password') }}" id="old_password" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">{{ plugin.getTranslation('new_password') }}</label>
                        <input type="password" class="form-control" placeholder="{{ plugin.getTranslation('enter_password') }}" id="password" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">{{ plugin.getTranslation('confirm_new_password') }}</label>
                        <input type="password" class="form-control" placeholder="{{ plugin.getTranslation('enter_password') }}" id="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ plugin.getTranslation('change') }}</button>
                </form> 
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $("form").on('submit', function (e) {
                e.preventDefault();

                if ($("#password").val() != $("#confirm_password").val() || $("#password").val() == "" || $("#old_password").val() == "") {
                    let timerInterval
                    Swal.fire({
                        title: '{{ plugin.getTranslation("password_mismatch") }}',
                        html: data.message,
                        icon: 'error',
                        showCancelButton: false,
                        timer: 3500,
                        timerProgressBar: true,
                        willClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {

                    });
                    return;
                }

                let old_password = $("#old_password").val();
                let Password = $("#password").val();

                $.post("/api/change_password/",
                        {
                            old_password: old_password,
                            password: Password
                        },
                        function (data, status) {
                            if (data.error !== false) {
                                let timerInterval
                                Swal.fire({
                                    title: '{{ plugin.getTranslation("password_invalid") }}',
                                    html: data.message,
                                    icon: 'error',
                                    showCancelButton: false,
                                    timer: 3500,
                                    timerProgressBar: true,
                                    willClose: () => {
                                        clearInterval(timerInterval)
                                    }
                                }).then((result) => {

                                });
                            } else {
                                let timerInterval
                                Swal.fire({
                                    title: '{{ plugin.getTranslation("change_success") }}',
                                    icon: 'success',
                                    showCancelButton: false,
                                    timer: 3500,
                                    timerProgressBar: true,
                                    willClose: () => {
                                        clearInterval(timerInterval)
                                    }
                                }).then((result) => {
                                    window.location.href = "/admin_dashboard";
                                });
                            }
                        });
            })
        });
    </script>
{% endblock %}